<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta charset="UTF-8">

    <title>计算</title>

    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script>

</head>

<body>

    <div id="calculate">

        <input v-model="number1"/>

        <select v-model="selected">

            <option v-for="op of operations" : value="op">{{op}}</option>

        </select>

        <input v-model="number2"/>

        <button @click="cal()">=</button>

        <span  @click="cal()">{{ result }}</span>

    </div>

<script>

    var vm=new Vue({

        el:'#calculate',

        data:{

            number1:"",

            number2:"",

            selected:"+",

            operations:['+','-','*','/'],

            result:"0",

        },

        methods:{

            cal:function () {
                if(this.number1.trim()===""||this.number2.trim()==""){
                    this.result = "输入不能为空！";
                    return;
                }
                switch(this.selected){
                    case '+':
                    this.result=Number(this.number1)+Number(this.number2);
                        break;
                    case '-':
                    this.result=Number(this.number1)-Number(this.number2);
                        break;
                    case '*':
                        this.result=Number(this.number1)*Number(this.number2);
                        break;
                    case '/':
                        if(Number(this.number2)===0){
                            this.number2 = "输入有误！";
                            return;
                        }
                        this.result=Number(this.number1)/Number(this.number2);
                        break;
                    }

            }

        }

    });                 

    </script>



</body>

</html>